<li>
        <%= content_tag :strong, twet.user.name, :class => 'pull-left text-middle' %>
        <%= content_tag :small, "@"+twet.user.username, :class => 'text-muted pad-10 text-middle' %>
        <%= content_tag :small, twet.created_at.strftime("%b %-d"), :class => 'text-muted text-middle pull-right' %>
        <div class="clearfix"></div>
      <%= render partial: "shared/twet_content", object: twet.content %>
            </li>
      <li><hr></li>